.feynman__link {
    color: #2f80ed;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    margin: 0;
    top: 50%;
    right: 48px;
    z-index: 2;
    opacity: 100%;
    transition: opacity .5s ease-in-out 0s;
  }

  .feynman__link:hover {
    opacity: 50%;
  }