.header__title {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
    margin-left: 64px;
    max-width: 730px;
    font-size: 102px;
    line-height: 96px;
    font-weight: 600;
    z-index: 1;
  }